
@font-face {
  font-family: "Daniel";
  src: url("Daniel-Black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #dadadacf;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 1%;
  width: 100vw;
  height: 100vh;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 1vw;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  background-color: #f7cbf1;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
}

.logo-txt {
  font-family: "Daniel", sans-serif;  
  font-weight: 900;
  color: #a0a0a0;
  width: 100%;
  margin-top: -0.5em;
  font-size: 75%;
  padding-top: 50%;
  text-align: center;
  line-height: 1;
  float: left;
}

.lead-pr {
  font-size: 120%;
  line-height: 50%;
  text-align: center;
  width: 100%;
}

.lead-pr {
  color: #5f5f5f;
}

.smi {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.twitter-icon {
  fill: #1DA1F2;
}

.fb-icon {
  fill: #4267B2; 
}

.git-icon {
  fill: #211F1F;
}

.m-icon {
  fill: #00AB6C;
}

.smi > ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.smi > ul > li {
  display: inline-block;
}

.get-email {
}

footer {
  background-color: #a0a0a0;
  width: 100%;
  height: 15%;
}

footer ul li {
  display: inline;
  float: left;
  border-right: 1px solid #000000;
}

footer ul li a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: black;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .logo {
    width: 35vw;
    height: 0;
    padding-bottom: 35vw;
  }

  .logo-txt {
    font-size: 4.7vw;
  }
}

@media only screen and (min-width: 321px) and (max-width: 425px) {
  
  .logo {
    width: 25vw;
    height: 0;
    padding-bottom: 25vw;
  }

  .logo-txt {
    font-size: 3.2vw;
  }

}

@media only screen and (max-width: 425px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger-icon {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-icon > div {
    width: 70px;
    height: 7px;   
    background-color: #e4e4e4;
    border-radius: 10px;
  }
 
  footer > ul {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {

  .logo {
    width: 15vw;
    height: 0;
    padding-bottom: 15vw;
  }

  .logo-txt {
    font-size: 2.0vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 11vw;
    height: 0;
    padding-bottom: 11vw;
  }

  .logo-txt {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1025px) {
  .logo {
    width: 9vw;
    height: 0;
    padding-bottom: 9vw;
  }

  .logo-txt {
    font-size: 1.2vw;
  }
}
